.p-contact {
  &__content {
    cons();
    min-height: 97vh;
    padding-top: 100px;
  }
  &__head {
    h-prim();
    font-weight: bold;
  }
  &__dec {
    text-align: center;
  }
  &__link {
    margin-top: 10px;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    column-count: center;
    justify-content: center;
  }
  &__links {
    margin-top: 10px;
  }
  &__btn.u-a {
    btn()
    btn-prim()
    display: block;
    line-height: 1;
    width: 300px;
    text-align: center;
    font-weight: bold;
    svg {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
}