*,*::before,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  // 16px * 62.5% = 10
  // 18px / 10 = 1.8rem 
}

body {
  position: relative;
  font-size: $basefontsize;
  color: $basefontcolor;
  font-family: $ff_ja;
  font-feature-settings: "palt" 1;
  -webkit-font-smoothing: antialiased;
  hanging-punctuation: allow-end;
}

main {
  display: block;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0 none;
  text-decoration: none;
  vertical-align: top;
  background: transparent;
  width: 100%;
}

mark {
  background-color: transparent;
}

a {
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
  }
}

