.c-worksitem {
  &__tit {
    font-weight: bold;
    border-bottom: 1px solid $color.gray;
    line-height: 1.2;
  }
  &__catstit {
    margin-top: 5px;
  }
  &__cat {
    btn();
    btn-cat();
  }
  &__more {
    margin: 10px 0 0;
    text-align: right;  
  }
  &__morebtn {
    display: inline-block;
    margin: 10px 0 0px;
    border: 1px solid $color.blue;
    padding: 6px 15px;
    background-color: lighten($color.blue,40%);
    color:white;
    transition: .5s $easeInOut;
    &:hover {
      transition: .2s $easeInOut;
      background-color: lighten($color.blue,90%);
      color: $color.text;
    }
  }
  &__img {
    margin-top: 10px; 
  }
  +pc() {
    &__body {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      }
    &__img,
    &__c {
      width: 50%;
      padding-left: 5px;
      }
  }
  /* トランジション用スタイル */
  .workslist-enter-active, .workslist-leave-active, .workslist-move {
    transition: opacity 1s, transform 1s;
  }
  .workslist-leave-active {
    position: absolute;
  }
  .workslist-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  .workslist-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
}